//定义全局变量
$primary: #117ff6;
$lessColor:#bedcff;
$primaryFont:#262626;
$lessFont:#595959;
$disabledColor: #989898;
$light: #f3f3f3;
$dark: #3b3b3b;

//毛玻璃效果
.glass{
  position: relative;
  //background: hsla(0, 0%, 93%, 0.22);
  z-index: 2;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  position: relative;
  &.light{
    &:before{
      background-image: url('/assets/img/glass.jpg');
      filter: blur(20px);
    }
  }
  &:before {
    content: '';
    position: absolute;
    height: auto;
    width: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1; //下移一层,让内容清晰
    -webkit-filter: blur(20px);
    -moz-filter: blur(20px);
    -ms-filter: blur(20px);
    -o-filter: blur(20px);
    filter: blur(20px);
    background: inherit;
    background-attachment: fixed;
    background-image: url('/assets/img/wallpaper4.jpg');
  }
  &:after {
    content: "";
    position: absolute;
    top:0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    background: rgba(255, 255, 255, 0.25);
  }
}
.styleText{
  font-weight: bolder;
  font-size: 12px;
  color:hsl(210,13%,30%);
  text-shadow:0 .03em .03em hsla(0,0%,100%,.8);
  &.background{

  }
}

