.project-container{
  display: flex;
  flex-wrap: wrap;
  .project-item-container{
    flex: 1;
  }
}
.project-item{
  height: 120px;
  border-radius: 1rem;
  width: calc(100% - 32px);
  margin: 8px 16px;
  margin-bottom: 16px;
  background: rgba(255, 255, 255, .9);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  display: flex;
  padding: 6px;
  min-width: 60px;
  //max-width: 400px;
  flex: 12;
  .left-img{
    padding: 8px;
    width: 300px;
    border-right: 2px solid #c7c7c7;
    flex: 0 0 140px;
  }
  .right-desc{
    padding: 8px;
    font-size: 12px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}