.myButton {
  color: rgba(33, 33, 33, 0.76);
  padding: 4px 15px;
  margin-right: 4px;
  position: relative;
  & > span {
    position: relative;
    z-index: 2;
  }
  &:after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 0;
    height: 100%;
    transition: all 0.4s;
    border-radius: 10px;
    border: 1px solid transparent;
    z-index: 1;
  }
  &.ant-btn-primary {
    background-image: linear-gradient(186deg, #abdcff 10%, #0396ff 100%);
    box-shadow: 1px 6px 7px 0px #0084e5;
    color: rgba(33, 33, 33, 0.76);
    transition: all 0.2s;
    border: none;
    & > span {
      text-shadow: 0px 8px 6px rgba(33, 33, 33, 0.76);
    }
    &:not([disabled]):hover {
      &:after {
        width: 100%;
        height: 100%;
        background-color: $primary;
        border-radius: 0;
      }
    }
    &:not([disabled]):focus {
      box-shadow: -1px 3px 6px #0396ff;
      & > span {
        text-shadow: 0px 0 2px rgba(86, 86, 86, 0.76);
      }
    }
    &:not([disabled]):active {
      background-image: linear-gradient(186deg, #abdcff 10%, #0396ff 100%);
      box-shadow: -1px 3px 6px #0396ff;
    }
  }
  &.ant-btn-dangerous {
    background-image: linear-gradient(135deg, #feb692 10%, #ea5455 100%);
    box-shadow: 1px 6px 7px 0px #ff4d4f;
    color: rgba(33, 33, 33, 0.76);
    transition: all 0.2s;
    border: none;
    & > span {
      text-shadow: 0px 8px 6px rgba(33, 33, 33, 0.76);
    }
    &:not([disabled]):hover {
      &:after {
        width: 100%;
        height: 100%;
        background-color: #ff4d4f;
        border-radius: 0;
      }
    }
    &:not([disabled]):focus {
      background-image: linear-gradient(135deg, #feb692 10%, #ea5455 100%);
      box-shadow: -1px 3px 6px #ff4d4f;
      & > span {
        text-shadow: 0px 0 2px rgba(86, 86, 86, 0.76);
      }
    }
    &:not([disabled]):active {
      background-image: linear-gradient(135deg, #feb692 10%, #ea5455 100%);
      box-shadow: -1px 3px 6px #ff4d4f;
    }
  }
  &.larger {
    padding: 6px 15px;
    height: 48px;
    min-width: 120px;
  }
  &.ant-btn-background-ghost {
    &.ant-btn-primary {
      color: rgba(0, 0, 0, 0.85);
      border: 1px solid #c5c5c5;
      &:not([disabled]):hover {
        &:after {
          background-color: $primary;
        }
      }
    }
    background-color: transparent;
    background-image: none !important;
    box-shadow: none !important;
    & > span {
      text-shadow: none;
    }
  }
}
.basic-button {
  box-shadow: 3px 8px 6px 3px #a1c4fd;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  transition: all 0.3s;
  background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
  &:hover,
  &:active,
  &:focus {
    color: #a32793;
    font-weight: 600;
  }
  &:hover,
  &:active {
    box-shadow: 0 0 6px 3px #a1c4fd inset;
    background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
  }
  &:focus {
    box-shadow: 0 0 6px 3px #a1c4fd inset;
    background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
  }
}
